body {
	margin-top: 70px;
	background-color: rgb(198,228,227);
}

footer {
	font-size: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

button {
	border-radius: 5px;
	background-color: rgb(67,103,128);
	color: white;
}



.navbar {
	background-color: rgb(71,121,155);
	font-family: cursive;	
}

.name-header {
	color: white;
}

.navbar-right {
	float: right;
}

.new-list-button {
	margin-top: 7px;
	background-color: rgb(115,121,93);
	font-family: cursive;
}

.todo1 {
	border: 2px solid grey;
	background-color: rgb(186,190,170);
	margin: 10px;
}

.list-title {
	border: 1px solid black;
	margin-top: 0;
	background-color: rgb(35,138,137);
	color: rgb(196,242,233);
}

.task-item {
	border-radius: 2px;
	background-color: rgb(131,180,167);
	padding-left: 5px;
	height: 28px;
}

.completed-task {
	text-decoration: line-through;
	background-color: rgb(152,157,150);
	text-align: center;
}

.order-button {
	font-size: 7px;
	text-align: center;
}

.form-check-label {
	font-size: 5px;
}